.handmade__wrapper {
    padding: 7.3rem 0 10.5rem;
}

.handmade__title {
    @include font ($size: 3.3rem, $height: 5.5rem, $weight: 700);
    text-align: center;
    letter-spacing: 1.2px;
    color: #35312E;
    width: 40%;
    margin: 0 auto 1.8rem;
}

.handmade__text {
    @include font ($size: 1.8rem, $height: 2.9rem, $weight: 400);
    text-align: center;
    width: 30%;
    margin: 0 auto;
}

.handmade__cards {
    display: flex;
}

.handmade__circle {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
}

//Bowls card
.bowls__title {
    @include font ($size: 1.4rem, $height: 2.4rem, $weight: 400);
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 0;
}

.bowls__subtitle {
    @include font ($size: 1.4rem, $height: 2.1rem, $weight: 400);
    text-align: center;
    letter-spacing: 0.1px;
}

.bowls__text {
    @include font ($size: 1.1rem, $height: 2.0rem, $weight: 400);
    text-align: center;
    letter-spacing: 0.2px;
    width: 55%;
    margin: 0 auto;
}

.bowls__icon {
    display: flex;
}

.bowls__img {
    display: flex;
    background-image: url("../assets/images/Ovalbowl.png");
    background-repeat: no-repeat;
    background-position: bottom;
    align-items: center;
    justify-content: center;
    
}

.bowls__icon_1 {
    background: #E09D81;
    border: 3px solid #6E6259;
}

.bowls__icon_2 {
    background: #CDC7B3;
}

.bowls__icon_3 {
    background: #595752;
}

//Glasses card
.glasses__img {
    background-image: url("../assets/images/OvalGlasses.png");
    background-repeat: no-repeat;
    background-position: bottom;
}

//Plates card
.plates__img {
    background-image: url("../assets/images/OvalPlates.png");
    background-repeat: no-repeat;
    background-position: bottom;
}

//pan card
.pan__img {
    background-image: url("../assets/images/OvalPan.png");
    background-repeat: no-repeat;
}