.handmade__wrapper {
    padding: 7.3rem 0 10.5rem;
}

.handmade__title {
    @include font ($size: 3.3rem, $height: 5.5rem, $weight: 700);
    text-align: center;
    letter-spacing: 1.2px;
    color: #35312E;
    width: 40%;
    margin: 0 auto 1.8rem;
}

.handmade__text {
    @include font ($size: 1.8rem, $height: 2.9rem, $weight: 400);
    text-align: center;
    width: 30%;
    margin: 0 auto 2rem;
}

.handmade__cards {
    display: flex;
    justify-content: space-between;
    padding: 0 2.5rem 0 3.5rem;
}

.handmade__circle {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
}

.bowls,
.glasses,
.plates {
    flex: 1;
}

.pan {
    flex: 1.07;
}

.bowls__title,
.glasses__title,
.plates__title,
.pan__title {
    @include font ($size: 1.4rem, $height: 2.4rem, $weight: 400);
    color: #35312E;;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 0 0 0.4rem;
}

.bowls__subtitle,
.glasses__subtitle,
.plates__subtitle {
    @include font ($size: 1.4rem, $height: 2.1rem, $weight: 400);
    text-align: center;
    letter-spacing: 0.1px;
    color: #6E635A;
    margin: 0 0 0.6rem;
}

//Bowls card
.bowls__text {
    @include font ($size: 1.1rem, $height: 2.0rem, $weight: 400);
    color: #6E635A;
    text-align: center;
    letter-spacing: 0.2px;
    width: 50%;
    margin: 0 auto 4.1rem;
}

.bowls__img {
    display: flex;
    background-image: url("../assets/images/Ovalbowl.png");
    background-repeat: no-repeat;
    background-position: bottom;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.bowls__icon {
    padding: 0 12rem 0 12rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.bowls__icon_1 {
    background: #E09D81;
    border: 3px solid #6E6259;
}

.bowls__icon_2 {
    background: #CDC7B3;
}

.bowls__icon_3 {
    background: #595752;
}

//Glasses card
.glasses__text {
    @include font ($size: 1.4rem, $height: 2.0rem, $weight: 400);
    color: #6E635A;
    text-align: center;
    letter-spacing: 0.2px;
    width: 54%;
    margin: 0 auto 2.1rem;
}

.glasses__img {
    display: flex;
    background-image: url("../assets/images/OvalGlasses.png");
    background-repeat: no-repeat;
    background-position: bottom;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.glasses__icon {
    padding: 0 10rem 0 10rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.glasses__icon_1 {
    background: #CCBD9E;
    border: 3px solid #6E6259;
}

.glasses__icon_2 {
    background: #B55900;
}

.glasses__icon_3 {
    background: #5B653B;
}

.glasses__icon_4 {
    background: #FFFFFF;
    border: 1px solid rgba(110, 99, 90, 0.3);
}

//Plates card
.plates__text {
    @include font ($size: 1.3rem, $height: 2.0rem, $weight: 400);
    color: #6E635A;
    text-align: center;
    letter-spacing: 0.2px;
    width: 50%;
    margin: 0 auto 4.1rem;
}

.plates__img {
    display: flex;
    background-image: url("../assets/images/OvalPlates.png");
    background-repeat: no-repeat;
    background-position: bottom;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.plates__icon {
    padding: 0 12rem 0 12rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.plates__icon_1 {
    background: #E09D81;
    border: 3px solid #6E6259;
}

.plates__icon_2 {
    background: #CDC7B3;
}

.plates__icon_3 {
    background: #595752;
}

//pan card
.pan__subtitle {
    @include font ($size: 1.2rem, $height: 2.1rem, $weight: 400);
    text-align: center;
    letter-spacing: 0.1px;
    color: #6E635A;
    margin: 0 0 0.6rem;
}

.pan__text {
    @include font ($size: 1.3rem, $height: 2.0rem, $weight: 400);
    color: #6E635A;
    text-align: center;
    letter-spacing: 0.2px;
    width: 50%;
    margin: 0 auto 2.1rem;
}

.pan__img {
    display: flex;
    background-image: url("../assets/images/OvalPan.png");
    background-repeat: no-repeat;
    background-position: bottom;
    justify-content: center;
    margin: 8rem 0 1.5rem;
}

.pan__icon {
    padding: 0 3.1rem 0 3.1rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.pan__icon_1 {
    background: #E09D81;
    border: 3px solid #6E6259;
}

.pan__icon_2 {
    background: #748EA1;
}

.pan__icon_3 {
    background: #B76D47;
}

.pan__icon_4 {
    background: #7D836E;
}

.pan__icon_5 {
    background: #C33636;
}

.pan__icon_6 {
    background: #CDC7B3;
}

.pan__icon_7 {
    background: #595752;
}

.pan__icon_8 {
    background: #D3C2CA;
}